html, body {
	height: 100%;
	max-height: 100%;
}

html {
	border: 1px solid black;
}

body {
	border: 1px solid red;
}

.height-full {
	height: 100%;
}

.grid-block-left {

}

.grid-block-middle {

}

.grid-block-right {

}

.image {
	max-width:100%;
	max-height:100%;
}

.row {
	margin-top: 0px;
	margin-bottom: 0px;
}